

<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1 [routerLink]="['/commercial']">Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Voitures</h1></div>

            <div class="col-sm-2"><h1 [routerLink]="['/logins']"><img src="../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>

    <div class="second_block">
        
   
    <div class="row">
           <div class="col-sm-6"><h1 id="stock" [routerLink]="['/suiviscommandes']">Suivis Commandes</h1></div>
           <div class="col-sm-6"><h1 id="stock" [routerLink]="['/devis']">Creation de devis</h1></div>
           
           
          
    </div>
    <hr>
</div>


<form id="form-voitures">
                <div class="form-row">
                       <div class="form-col">
                       <label for="voitureMarque">Marque:</label>
               
                       <input type="text" class="form-control" id="voitureMarque" disabled >
                </div>
                

                <div class="form-col">
                  <label for="voitureModel">Model:</label>
                  <input type="text" class="form-control" id="voitureModel" disabled >
                </div>

                <div class="form-col">
                <label for="voitureCategorie">Categorie:</label>
                <input type="text" class="form-control" id="voitureCategorie" disabled >
                 
                </div>
        </div>
        <br>
        <div class="form-row">
                        <div class="form-col">
                        <label for="voitureQuantité">Quantité:</label>
                        <input type="text" class="form-control" id="voitureQuantité" disabled >
                 </div>
 
                 <div class="form-col">
                   <label for="voiturePrixUnitaire">Prix Unitaire:</label>
                   <input type="text" class="form-control" id="voiturePrixUnitaire" disabled >
                 </div>
 
                 <div class="form-col">
                   <label for="voitureCouleur">Couleur:</label>
                   <input type="text" class="form-control" id="voitureCouleur" disabled >
                 </div>
         </div>
 

                  
                             
                      
                </form>
                
                <hr>

                
<form id="form-voitures">
                <div class="form-row">
                       <div class="form-col">
                       <label for="voitureMarque">Marque:</label>
               
                       <input type="text" class="form-control" id="voitureMarque" disabled >
                </div>
                

                <div class="form-col">
                  <label for="voitureModel">Model:</label>
                  <input type="text" class="form-control" id="voitureModel" disabled >
                </div>

                <div class="form-col">
                <label for="voitureCategorie">Categorie:</label>
                <input type="text" class="form-control" id="voitureCategorie" disabled >
                 
                </div>
        </div>
        <br>
        <div class="form-row">
                        <div class="form-col">
                        <label for="voitureQuantité">Quantité:</label>
                        <input type="text" class="form-control" id="voitureQuantité" disabled >
                 </div>
 
                 <div class="form-col">
                   <label for="voiturePrixUnitaire">Prix Unitaire:</label>
                   <input type="text" class="form-control" id="voiturePrixUnitaire" disabled >
                 </div>
 
                 <div class="form-col">
                   <label for="voitureCouleur">Couleur:</label>
                   <input type="text" class="form-control" id="voitureCouleur" disabled >
                 </div>
         </div>
 

                  
                             
                      
                </form>
                
                <hr>
                
<form id="form-voitures">
                <div class="form-row">
                       <div class="form-col">
                       <label for="voitureMarque">Marque:</label>
               
                       <input type="text" class="form-control" id="voitureMarque" disabled >
                </div>
                

                <div class="form-col">
                  <label for="voitureModel">Model:</label>
                  <input type="text" class="form-control" id="voitureModel" disabled >
                </div>

                <div class="form-col">
                <label for="voitureCategorie">Categorie:</label>
                <input type="text" class="form-control" id="voitureCategorie" disabled >
                 
                </div>
        </div>
        <br>
        <div class="form-row">
                        <div class="form-col">
                        <label for="voitureQuantité">Quantité:</label>
                        <input type="text" class="form-control" id="voitureQuantité" disabled >
                 </div>
 
                 <div class="form-col">
                   <label for="voiturePrixUnitaire">Prix Unitaire:</label>
                   <input type="text" class="form-control" id="voiturePrixUnitaire" disabled >
                 </div>
 
                 <div class="form-col">
                   <label for="voitureCouleur">Couleur:</label>
                   <input type="text" class="form-control" id="voitureCouleur" disabled >
                 </div>
         </div>
 

                  
                             
                      
                </form>
                
                <hr>

