

<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1>Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Voitures</h1></div>

            <div class="col-sm-2"><h1 [routerLink]="['/logins']"><img src="../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>

    <div class="second_block">
        
   
    <div class="row">
           <div class="col-sm-6"><h1 id="stock" [routerLink]="['/suiviscommandes']">Suivis Commandes</h1></div>
           <div class="col-sm-6"><h1 id="stock" [routerLink]="['/devis']">Création de devis</h1></div>
           
           
          
    </div>
    <hr>
</div>


<div class="row">
    <div class="col-sm-3 offset-1"><img src="../../assets/img/mercedes_PNG80135.png" width="100%" height="100px" alt=""></div>
    <div class="col-sm-3 offset-1"><h3>Mercedes-Benz</h3></div>
    <div class="col-sm-3 offset-1"><h3>10</h3></div> 
    <div class="col-sm-12"><textarea name="" id="" cols="12" rows="10">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Culpa quisquam eaque, dolorem esse a tenetur voluptate assumenda!
            Ut, voluptate. Quasi perferendis omnis nihil voluptatem dolorem debitis,
            unde nisi! Quo, iste?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolor corrupti modi debitis ab.
            Similique omn
            voluptatum possimus odit perspiciatis aliquam a ratione quia,
            maxime facere nisi necessitatibus consequatur expedita?
            
            </textarea>  
            
    
</div>
</div>
<hr>
<div class="row">
        <div class="col-sm-3 offset-1"><img src="../../assets/img/mercedes_PNG80135.png" width="100%" height="100px" alt=""></div>
        <div class="col-sm-3 offset-1"><h3>Mercedes-Benz</h3></div>
        <div class="col-sm-3 offset-1"><h3>10</h3></div> 
        <div class="col-sm-12"><textarea name="" id="" cols="12" rows="10">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Culpa quisquam eaque, dolorem esse a tenetur voluptate assumenda!
                Ut, voluptate. Quasi perferendis omnis nihil voluptatem dolorem debitis,
                unde nisi! Quo, iste?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse dolor corrupti modi debitis ab.
                Similique omn
                voluptatum possimus odit perspiciatis aliquam a ratione quia,
                maxime facere nisi necessitatibus consequatur expedita?
                
                </textarea>  
                
        
    </div>
    </div>
    <hr>
