
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    
  <div class="col-sm-3"><h2 class="text-white" >Mecanicien </h2></div>

  <div class="col-sm-5 offset-1"><h2 class="text-white" >Stock des pièces </h2></div>
  
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
      
    
  </div>
  <form class="form-inline my-2 my-lg-0">
      <i class="materiel" [routerLink]="['/logins']">power_settings_new</i>
   </form>
</nav>

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">

        <ul class="navbar-nav mr-auto">
            
            
    
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/mecanicien/fiches']">Liste des taches</a>
              </li>
              
            
          </ul>
          
      
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

  <br>

 

     
<div class="container">
  <div class="row">
        <div class="col-sm-2"><h1>Nom</h1></div>
        <div class="col-sm-2"><h1>Quantité</h1></div>
        <div class="col-sm-2 offset-1"><h1>Description</h1></div>
        <div class="col-sm-4 offset-1"><h1>Pièces défecteuses</h1></div>
       
       
 </div><hr>
 <div class="row">
     <div class="col-sm-3"><h3>pièces</h3></div>
     <div class="col-sm-1"><h3>40</h3></div>
     <div class="col-sm-2 offset-1"><h3><input type="text" size="9"></h3></div>

<div class="col-sm-1 offset-2"><h3><input type="checkbox" value="d" ></h3></div>
</div>
<hr>
   <div class="row">
     <div class="col-sm-3"><h3>pièces</h3></div>
     <div class="col-sm-1"><h3>40</h3></div>
     <div class="col-sm-2 offset-1"><h3><input type="text" size="9"></h3></div>

<div class="col-sm-1 offset-2"><h3><input type="checkbox" value="d" ></h3></div>
</div>
<hr>

<div class="row">
 <div class="col-sm-3"><h3>pièces</h3></div>
 <div class="col-sm-1"><h3>40</h3></div>
 <div class="col-sm-2 offset-1"><h3><input type="text" size="9"></h3></div>

<div class="col-sm-1 offset-2"><h3><input type="checkbox" value="d" ></h3></div>
</div>
<hr>

<div class="row">
<div class="col-sm-3"><h3>pièces</h3></div>
<div class="col-sm-1"><h3>40</h3></div>
<div class="col-sm-2 offset-1"><h3><input type="text" size="9"></h3></div>

<div class="col-sm-1 offset-2"><h3><input type="checkbox" value="d" ></h3></div>
</div>
<hr>

<div class="row">
<div class="col-sm-3"><h3>pièces</h3></div>
<div class="col-sm-1"><h3>40</h3></div>
<div class="col-sm-2 offset-1"><h3><input type="text" size="9"></h3></div>

<div class="col-sm-1 offset-2"><h3><input type="checkbox" value="d" ></h3></div>
</div>
<hr>
</div>
  

