<body id="body_acceuil">
    <div id="one">
  <div id="two"> Connexion à l'appli JM Garage</div><br><br>
  
  
  <input type="text" class="A" name="" disabled value="Login utilisateur :"><br><br><br>
  <input type="text" class="B" placeholder="Enter Your Login :"><br><br><br>
  
  <input type="text" class="A" disabled value="Mot de passe utilisateur :"><br><br><br>
  
      <input type="text" class="B"  placeholder="Enter Your Password :"><br><br><br>
  
  <input type="submit" class="login" [routerLink]="['/']" value="Connexion">
      
  </div>
   
  </body>
