
<div class="pack">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      
      <div class="col-sm-3"><h2 class="text-white" >Commercial </h2></div>
      <div class="col-sm-6 offset-1"><h2 class="text-white" >Liste des devis </h2></div>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        
        
      </div>
      <form class="form-inline my-2 my-lg-0">
        <i class="materiel" [routerLink]="['/logins']">power_settings_new</i>
     </form>
    </nav>
  
  
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
  
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item ">
                    <a class="nav-link" [routerLink]="['/commercial/voitures']">Liste voitures</a>
                  </li>
                  <li class="nav-item ">
                      <a class="nav-link" [routerLink]="['/commercial/devis']">Creation devis</a>
                    </li>
                   
                    <li class="nav-item ">
                      <a class="nav-link" [routerLink]="['/commercial/clients']">Creation client</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['/commercial/listeclient']">Liste client</a>
                      </li>
            
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['commercial/suiviscommandes']">Suivis Commandes</a>
                    </li>
                    
                  
                </ul>
            
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        
      </div>
  
  
    </div>

    <br><br>

<!-- <div class="form-group">
      <label for="exampleFormControlSelect1">Choisissez un devis:</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>

      <label for="DescriptionDevis">Données du devis:</label>
      <textarea name="" id="DescriptionDevis" cols="12" rows="10">
                    
                    
                    </textarea>  
    </div> -->
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Date Creation</th>
          <th scope="col">Client</th>
          <th scope="col">Description</th>
          <th scope="col">Validation</th>
          <th scope="col">Refus</th>
          <th scope="col">Annulation</th>
         
    
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let devis of listDevis | async ; let i = index ">
          <td>{{devis.dateDevis | date: 'dd/MM/yyyy'}}</td>
          <td >{{devis.client.nom}}</td>
          <td>{{devis.description}}</td>
          <td>{{devis.validationDevis}}</td>
          <td>{{devis.refusDevis}}</td>
          <td>{{devis.annulationDevis}}</td>
          
        </tr>
        
      </tbody>
    
    </table>