<div class="pack">

       <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
           
           <div class="col-sm-3"><h2 class="text-white" >Commercial </h2></div>
           <div class="col-sm-6 offset-1"><h2 class="text-white" >Suivi des commandes </h2></div>
           
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarText">
             
             
           </div>
           <form class="form-inline my-2 my-lg-0">
             <i class="materiel" [routerLink]="['/logins']">power_settings_new</i>
          </form>
         </nav>
       
       
         <div class="pos-f-t">
             <div class="collapse" id="navbarToggleExternalContent">
               <div class="bg-dark p-4">
       
                   <ul class="navbar-nav mr-auto">
                       <li class="nav-item ">
                         <a class="nav-link" [routerLink]="['/commercial/voitures']">Liste voitures</a>
                       </li>
                       <li class="nav-item ">
                           <a class="nav-link" [routerLink]="['/commercial/devis']">Creation devis</a>
                         </li>
                         <li class="nav-item ">
                             <a class="nav-link" [routerLink]="['/commercial/listedevis']">Liste devis</a>
                           </li>
                         <li class="nav-item ">
                           <a class="nav-link" [routerLink]="['/commercial/clients']">Creation client</a>
                         </li>
                         <li class="nav-item ">
                             <a class="nav-link" [routerLink]="['/commercial/listeclient']">Liste client</a>
                           </li>
                 
                      
                         
                       
                     </ul>
                 
               </div>
             </div>
             <nav class="navbar navbar-dark bg-dark">
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                 <span class="navbar-toggler-icon"></span>
               </button>
             </nav>
             
           </div>
       
       
         </div>
     
         <br><br>

     <div class="row">
           <div class="col-sm-2"><h2>Client</h2></div>
           <div class="col-sm-2"><h2>Voiture</h2></div>
           <div class="col-sm-6 offset-1"><h2>Suivi de la commande</h2></div>
          
          
    </div><hr>
    <div class="row">
           <div class="col-sm-2"><h3>JMClient</h3></div>
           <div class="col-sm-2"><h3>Porshe</h3></div>
           <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
    </div>
      <hr>

        <div class="row">
           <div class="col-sm-2"><h3>JMClient</h3></div>
           <div class="col-sm-2"><h3>Porshe</h3></div>
           <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
    </div>
      <hr>
      <div class="row">
                    <div class="col-sm-2"><h3>JMClient</h3></div>
                    <div class="col-sm-2"><h3>Porshe</h3></div>
                    <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
             </div>
               <hr>
               <div class="row">
                            <div class="col-sm-2"><h3>JMClient</h3></div>
                            <div class="col-sm-2"><h3>Porshe</h3></div>
                            <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                     </div>
                       <hr>
                       <div class="row">
                                    <div class="col-sm-2"><h3>JMClient</h3></div>
                                    <div class="col-sm-2"><h3>Porshe</h3></div>
                                    <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                             </div>
                               <hr>
                               <div class="row">
                                            <div class="col-sm-2"><h3>JMClient</h3></div>
                                            <div class="col-sm-2"><h3>Porshe</h3></div>
                                            <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                     </div>
                                       <hr>
                                       <div class="row">
                                                    <div class="col-sm-2"><h3>JMClient</h3></div>
                                                    <div class="col-sm-2"><h3>Porshe</h3></div>
                                                    <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                             </div>
                                               <hr>
                                               <div class="row">
                                                            <div class="col-sm-2"><h3>JMClient</h3></div>
                                                            <div class="col-sm-2"><h3>Porshe</h3></div>
                                                            <div class="col-sm-6 offset-1"><h3>Commandé le"01/11/2019"</h3></div>    
                                                     </div>
                                                       <hr>
