<!--
 Je fais menu "meca" avec les routerlink pour accéder à mes composants du Meca
 mettre dans un bouton de retour un routerlink sur MecanicienComponent

-->
  <div class="pack">




<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Mecanicien</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" [routerLink]="['/mecanicien/stock']" routerLinkActive="active">Stock des pièces</a>
        </li>
        

        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/mecanicien/fiches']" routerLinkActive="active" >Liste des taches</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <i class="materiel" [routerLink]="['/logins']">power_settings_new</i>
     </form>
      
    </div>
  </nav> -->
  <router-outlet></router-outlet>

