
<div class="first_block">
        <div class="row">
    
    
                <div class="col-sm-2"><h1 [routerLink]="['/commercial']">Logo</h1></div>
                <div class="col-sm-2"><h1>Ini</h1></div>
                    
                <div class="col-sm-6"><h1>Liste de devis</h1></div>
    
                <div class="col-sm-2"><h1 [routerLink]="['/logins']"><img src="../../../../assets/img/logout.png" alt=""></h1></div>
        </div>
        </div>
    
        <div class="second_block">
       
        <div class="row">
            
                <div class="col-sm-5"><h1 id="stock" [routerLink]="['/devis']">Creation devis</h1></div>
               <div class="col-sm-3"><h1 id="stock" [routerLink]="['/voitures']">Voitures</h1></div>
               <div class="col-sm-4"><h1 id="stock" [routerLink]="['/listeclient']">Liste client</h1></div>
               
              </div>
               
               
               
              
     
      <hr>
    </div>


    <br>

    <div class="form-group">
            <label for="exampleFormControlSelect1">Choisissez un devis:</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>

            <label for="DescriptionDevis">Données du devis:</label>
            <textarea name="" id="DescriptionDevis" cols="12" rows="10">
                          
                          
                          </textarea>  
          </div>