

<div class="pack">

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      
      <div class="col-sm-3"><h2 class="text-white" >Commercial </h2></div>
      <div class="col-sm-6 offset-1"><h2 class="text-white" >Voitures</h2></div>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        
        
      </div>
      <form class="form-inline my-2 my-lg-0">
        <i class="materiel" [routerLink]="['/logins']">power_settings_new</i>
     </form>
    </nav>
  
  
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
  
              <ul class="navbar-nav mr-auto">
                  
                  <li class="nav-item ">
                      <a class="nav-link" [routerLink]="['/commercial/devis']">Creation devis</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['/commercial/listedevis']">Liste devis</a>
                      </li>
                    <li class="nav-item ">
                      <a class="nav-link" [routerLink]="['/commercial/clients']">Creation client</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" [routerLink]="['/commercial/listeclient']">Liste client</a>
                      </li>
            
                  <li class="nav-item">
                      <a class="nav-link" [routerLink]="['/commercial/suiviscommandes']">Suivis Commandes</a>
                    </li>
                    
                  
                </ul>
            
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        
      </div>
  
  
    </div>

    <br><br>

  
                
<form id="form-voitures" *ngFor="let vo of listevoitures |async">
                <div class="form-row">
                       <div class="form-col">
                       <label for="voitureMarque">Marque:</label>
               
                       <input type="text" class="form-control" id="voitureMarque" value="{{vo.marque}}" disabled >
                </div>
                

                <div class="form-col">
                  <label for="voitureModel">Model:</label>
                  <input type="text" class="form-control" id="voitureModel" value="{{vo.model}}" disabled >
                </div>

                <div class="form-col">
                <label for="voitureCategorie">Categorie:</label>
                <input type="text" class="form-control" id="voitureCategorie" value="{{vo.categorie}}" disabled >
                 
                </div>
        </div>
        <br>
        <div class="form-row">
                        <div class="form-col">
                        <label for="voitureQuantité">Quantité:</label>
                        <input type="text" class="form-control" id="voitureQuantité" value="{{vo.quantite}}" disabled >
                 </div>
 
                 <div class="form-col">
                   <label for="voiturePrixUnitaire">Prix Unitaire:</label>
                   <input type="text" class="form-control" id="voiturePrixUnitaire" value="{{vo.prix_unitaire}}" disabled >
                 </div>
 
                 <div class="form-col">
                   <label for="voitureCouleur">Couleur:</label>
                   <input type="text" class="form-control" id="voitureCouleur" value="{{vo.couleur}}" disabled >
                 </div>
         </div>
 

         <hr>  
                             
                      
                </form>
                
                
          

