<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1 [routerLink]="['/mecanicien']">Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Liste des taches</h1></div>
            
            <div class="col-sm-2"><h1 [routerLink]="['/logins']"><img src="../../../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>
    <div class="second_block">
    
    <div class="row">
           <div class="col-sm-3"><h1 id="stock" [routerLink]="['/stock']">Stock</h1></div>
           <div class="col-sm-9"><span id="blank"></span></div>
    </div>
    <hr>
</div> 
    <br>


   
    <form>
                <div class="form-group">
                       <div class="col-sm-3"><h4 input type="text"class="imp">Importance</h4></div>
                       
                       <label for="tacheDescription">Description de la tache:</label>
                      
                       
                                                      
                       <textarea class="form-control" id="tacheDescription" rows="3"></textarea>
                                                    
                             </div>
                           
               
               
                                 <div class="form-group">
                                       <label for="tachePiece">Piece utillisé:</label>
                                       <input type="text" class="form-control" id="tachePiece"  required>
                                     </div>
                                     
               
                                         <div class="form-group">
                                               <label for="tacheValidation">Tache terminée:</label>
                                               <input type="checkbox" class="form-control" id="tacheValidation">
                                                 
                                               </div>
               
                                        
                      </form>
                      <hr>
                      <form>
                                <div class="form-group">
                                       <div class="col-sm-3"><h4 input type="text"class="imp">Importance</h4></div>
                                       
                                       <label for="tacheDescription">Description de la tache:</label>
                                      
                                       
                                                                      
                                       <textarea class="form-control" id="tacheDescription" rows="3"></textarea>
                                                                    
                                             </div>
                                           
                               
                               
                                                 <div class="form-group">
                                                       <label for="tachePiece">Piece utillisé:</label>
                                                       <input type="text" class="form-control" id="tachePiece"  required>
                                                     </div>
                                                     
                               
                                                         <div class="form-group">
                                                               <label for="tacheValidation">Tache terminée:</label>
                                                               <input type="checkbox" class="form-control" id="tacheValidation">
                                                                 
                                                               </div>
                               
                                                        
                                      </form>
                                      <hr>
    


