<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1>Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Liste des taches</h1></div>
            
            <div class="col-sm-2"><h1 [routerLink]="['/logins']"><img src="../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>
    <div class="second_block">
    
    <div class="row">
           <div class="col-sm-3"><h1 id="stock" [routerLink]="['/stockspieces']">Stock</h1></div>
           <div class="col-sm-9"><span id="blank"></span></div>
    </div>
    <hr>
</div> 
    <br>
    
<div class="row">
<div class="col-sm-6"><h1>NomTache1</h1><h4 input type="text"class="imp">Importance</h4></div>
<div class="col-sm-3 offset-2"><h1 input type="button" class="but">A faire</h1></div>
</div>
<div class="row">
    <div class="col-sm-12"> 
            <p> 
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Facilis officia ab delectus recusandae error impedit nisi,
                    fuga rem consequuntur qui cum atque eveniet, nostrum saepe ullam culpa beatae quo adipisci!
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                     Labore aspernatur provident cupiditate ex hic tempore similique est recusandae rem,
                    aliquam odit quod. A aliquam ipsam illo nostrum aspernatur ratione repellendus.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur enim animi temporibus natus corrupti dolore, ut velit dolorum illum quo dignissimos quibusdam
                    est nemo expedita nulla repudiandae asperiores omnis sint.
                    </p></div>
                      
</div>
<br><hr> 
<div class="row">
            <div class="col-sm-6"><h1>NomTache1</h1><h4 input type="text"class="imp">Importance</h4></div>
            <div class="col-sm-3 offset-2"><h1 input type="button" class="but">A faire</h1></div>
             </div>
           
             <div class="row">
                            <div class="col-sm-12"> 
                                    <p> 
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                            Facilis officia ab delectus recusandae error impedit nisi,
                                            fuga rem consequuntur qui cum atque eveniet, nostrum saepe ullam culpa beatae quo adipisci!
                                            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                             Labore aspernatur provident cupiditate ex hic tempore similique est recusandae rem,
                                            aliquam odit quod. A aliquam ipsam illo nostrum aspernatur ratione repellendus.
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur enim animi temporibus natus corrupti dolore, ut velit dolorum illum quo dignissimos quibusdam
                                            est nemo expedita nulla repudiandae asperiores omnis sint.
                                            </p></div>
                                        
                    </div>
                    <br> <hr>
                    <div class="row">
                                    <div class="col-sm-6"><h1>NomTache1</h1><h4 input type="text"class="imp">Importance</h4></div>
                                    <div class="col-sm-3 offset-2"><h1 input type="button" class="but">A faire</h1></div>
                                     </div>
                                     <div class="row">
                                                    <div class="col-sm-12"> 
                                                            <p> 
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                                                    Facilis officia ab delectus recusandae error impedit nisi,
                                                                    fuga rem consequuntur qui cum atque eveniet, nostrum saepe ullam culpa beatae quo adipisci!
                                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                                                     Labore aspernatur provident cupiditate ex hic tempore similique est recusandae rem,
                                                                    aliquam odit quod. A aliquam ipsam illo nostrum aspernatur ratione repellendus.
                                                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur enim animi temporibus natus corrupti dolore, ut velit dolorum illum quo dignissimos quibusdam
                                                                    est nemo expedita nulla repudiandae asperiores omnis sint.
                                                                    </p></div>
                                                                
                                            </div>
                                            <br><hr>
    

