
<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1>Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Creation client</h1></div>

            <div class="col-sm-2"><h1 [routerLink]="['/logins']"><img src="../../../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>

    <div class="second_block">
   
    <div class="row">
           <div class="col-sm-3"><h1 id="stock" [routerLink]="['/devis']">Creation devis</h1></div>
           <div class="col-sm-3"><h1 id="stock" [routerLink]="['/liste_devis']">Liste client</h1></div>
          
          
           
          
    </div>
    <hr>
</div>

<br>



<form>
        <div class="form-group row">
          <label for="staticNom" class="col-sm-2 col-form-label">Nom</label>
          <div class="col-sm-5">
            <input type="text" class="form-control-plaintext" id="staticNom" value="" required>
          </div>
        </div>

        <div class="form-group row">
        <label for="staticPrenom" class="col-sm-2 col-form-label">Prenom</label>
        <div class="col-sm-5">
            <input type="text" class="form-control-plaintext" id="staticPrenom" value="" required>
          </div>
        </div>

        <div class="form-group row">
                <label for="staticAdresse" class="col-sm-2 col-form-label">Adresse</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control-plaintext" id="staticAdresse" value="" required>
                  </div>
                </div>

                

              <div class="form-group row">
                                <label for="staticVille" class="col-sm-2 col-form-label">Ville</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control-plaintext" id="staticVille" value="" required>
                                  </div>
                                </div>

                                <div class="form-group row">
                                        <label for="staticCodePostal" class="col-sm-2 col-form-label">Code Postal</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control-plaintext" id="staticCodePostal" value="" required>
                                          </div>
                                        </div>

                                
                                        <div class="form-group row">
                                                <label for="staticTelephone" class="col-sm-2 col-form-label">Telephone</label>
                                                  <div class="col-sm-5">
                                                    <input type="text" class="form-control-plaintext" id="staticTelephone" value="" required>
                                                  </div>
                                                </div>


                                                <div class="form-group row">
                                                       <label for="staticSexe" class="col-sm-2 col-form-label">Sexe</label>
                                                          <div class="col-sm-5">
                                                            <input type="text" class="form-control-plaintext" id="staticSexe" value="" required>
                                                          </div>
                                                        </div>

                                                        <div class="form-group row">
                                                                <label for="staticValidation" class="col-sm-2 col-form-label"></label>
                                                                <div class="col-sm-5">
                                                                        <button type="submit">Créer le nouveau client</button>
                                                                  </div>
                                                                </div>
        
                                                        
        
      </form>
