

<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1 [routerLink]="['/commercial']">Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Creation devis</h1></div>

            <div class="col-sm-2"><h1 [routerLink]="['/logins']"><img src="../../../../assets/img/logout.png" alt=""></h1></div>
    </div>
    </div>

    <div class="second_block">
   
    <div class="row">
        
           <div class="col-sm-4"><h1 id="stock" [routerLink]="['/voitures']">Voitures</h1></div>
        
           
              <div class="col-sm-4"><h1 id="stock" [routerLink]="['/listedevis']">Liste devis</h1></div>
           <div class="col-sm-4"><h1 id="stock" [routerLink]="['/listeclient']">Liste client</h1></div>
           
          
    </div>
    <hr>
</div>


    

 <br>


<form>
        <div class="form-group">
                <label for="exampleFormControlSelect1">Choisissez un client:</label> <button class="bouton_devis" [routerLink]="['/clients']">Ajouter client</button>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
              </div>


              <div class="form-group">
                    <label for="StaticVoiture">Choisissez une voiture:</label>
                    <select class="form-control" id="StaticVoiture">
                            <option value="1">Mercedes-Benz</option>
                            <option value="2">Porsche</option>
                            <option value="3">Ferrari</option>
                    </select>
                  </div>
                  <div class="form-group">
                        <label for="staticQuantité">Quantité:</label>
                        <input type="text" class="form-control" id="staticQuantité"  required>
                      </div>
                      <div class="form-group">
                            <label for="staticDescription">Description du produit:</label>
                           
                            <textarea class="form-control" id="staticDescription" rows="3"></textarea>
                         
                        </div>

                          <div class="form-group">
                                <label for="staticValidation" class="col-sm-2 col-form-label"></label>
                                  <div class="col-sm-10">
                                        <button type="submit">Créer le nouveau devis</button>
                                  </div>
                                </div>

                         
       </form>





