<div class="first_block">
    <div class="row">


            <div class="col-sm-2"><h1>Logo</h1></div>
            <div class="col-sm-2"><h1>Ini</h1></div>
                
            <div class="col-sm-6"><h1>Stock des pièces</h1></div>
            <div class="col-sm-2"><h1 [routerLink]="['/logins']"><img src="../../../../assets/img/logout.png" alt=""></h1></div>
          
    </div> 
    </div>

    <div class="second_block">
    <div class="row">
           <div class="col-sm-3"><h1 id="stock" [routerLink]="['/fiches']">Fiches</h1></div>
           <div class="col-sm-5 offset-3"><h2><input type="search" placeholder="Que cherchez-vous?" class="search"></h2></div>
          
    </div>
    <hr>
    </div>
    
     <div class="row">
           <div class="col-sm-2"><h1>Nom</h1></div>
           <div class="col-sm-2"><h1>Quantité</h1></div>
           <div class="col-sm-7 offset-1"><h1>Commande d'urgence</h1></div>
          
          
    </div><hr>
    <div class="row">
           <div class="col-sm-3"><h3>Nom pièces</h3></div>
           <div class="col-sm-1"><h3>40</h3></div>
           <div class="col-sm-2 offset-1"><h3><input type="text" size="4"></h3></div>
      
      <div class="col-sm-1"><h3><input type="checkbox" value="d"></h3></div>
      <div class="col-sm-2"><h3><label for="d">Défect.</label></h3></div>
      
      <div class="col-sm-2"><h3><input type="button" value="Valider"></h3></div>
      
      

          
    </div>
      <hr>
      <div class="row">
                    <div class="col-sm-3"><h3>Nom pièces</h3></div>
                    <div class="col-sm-1"><h3>40</h3></div>
                    <div class="col-sm-2 offset-1"><h3><input type="text" size="4"></h3></div>
               
               <div class="col-sm-1"><h3><input type="checkbox" value="d"></h3></div>
               <div class="col-sm-2"><h3><label for="d">Défect.</label></h3></div>
               
               <div class="col-sm-2"><h3><input type="button" value="Valider"></h3></div>
               
               
  
                   
             </div>
               <hr>
               <div class="row">
                            <div class="col-sm-3"><h3>Nom pièces</h3></div>
                            <div class="col-sm-1"><h3>40</h3></div>
                            <div class="col-sm-2 offset-1"><h3><input type="text" size="4"></h3></div>
                       
                       <div class="col-sm-1"><h3><input type="checkbox" value="d"></h3></div>
                       <div class="col-sm-2"><h3><label for="d">Défect.</label></h3></div>
                       
                       <div class="col-sm-2"><h3><input type="button" value="Valider"></h3></div>
                       
                       
          
                           
                     </div>
                       <hr>
                       <div class="row">
                                    <div class="col-sm-3"><h3>Nom pièces</h3></div>
                                    <div class="col-sm-1"><h3>40</h3></div>
                                    <div class="col-sm-2 offset-1"><h3><input type="text" size="4"></h3></div>
                               
                               <div class="col-sm-1"><h3><input type="checkbox" value="d"></h3></div>
                               <div class="col-sm-2"><h3><label for="d">Défect.</label></h3></div>
                               
                               <div class="col-sm-2"><h3><input type="button" value="Valider"></h3></div>
                               
                               
                  
                                   
                             </div>
                               <hr>
                               <div class="row">
                                            <div class="col-sm-3"><h3>Nom pièces</h3></div>
                                            <div class="col-sm-1"><h3>40</h3></div>
                                            <div class="col-sm-2 offset-1"><h3><input type="text" size="4"></h3></div>
                                       
                                       <div class="col-sm-1"><h3><input type="checkbox" value="d"></h3></div>
                                       <div class="col-sm-2"><h3><label for="d">Défect.</label></h3></div>
                                       
                                       <div class="col-sm-2"><h3><input type="button" value="Valider"></h3></div>
                                       
                                       
                          
                                           
                                     </div>
                                       
